<div class="page-container">


  <!-- Main Catalog Section -->
  <main class="catalog">
    <h1 class="catalog-title">Our Product Catalog</h1>
    <div class="catalog-grid">
      <!-- Product Card -->
      
      @for (post of posts; track $index) {
      
      <div class="catalog-item">

        <h2 class="product-title">{{ post.name }}</h2>
        <p class="product-description">
          {{post.description}}
        </p>
        <button routerLink="/details" class="product-button">View Details</button>
      </div>
      }
      
    </div>
  </main>


</div>