
.details-container {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 220px;
}

.back-btn {
  background-color: #00ffee; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.back-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.3);
}

h1 {
  font-size: 2rem;
  color: #00ffee;
}




h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #00ffee;  
}


.exercises-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exercise-card {
  background-color: rgba(51, 51, 51, 0.9); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.exercise-card h2 {
  font-size: 1.5rem;
  color: #fff;
}

.exercise-card p {
  font-size: 1rem;
  color: #aaa;
  margin: 10px 0;
}


.button-container {
  display: flex;
  justify-content: flex-start; 
  gap: 10px; 
  margin-top: 10px;
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s;
}


button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.3);
}

button:focus {
  outline: none;
}


.edit-btn {
  background-color: #00ffee;
  color: #fff;
}

.edit-btn:hover {
  background-color: #00ffaa;
}


.delete-btn {
  background-color: #ff5555;
  color: #fff;
}

.delete-btn:hover {
  background-color: #ff3333;
}


.save-btn {
  background-color: #4CAF50; 
  color: #fff;
}

.save-btn:hover {
  background-color: #45a049;
}


.cancel-btn {
  background-color: #888;
  color: #fff;
}

.cancel-btn:hover {
  background-color: #666; 
}

.like-btn {
  background-color: #008f8a; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.like-btn:hover {
  background-color: #006f6f; 
}

#likeStatus {
  color: #00ffee;
}



input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #333; 
  color: #fff;
  border: 1px solid #444; 
  border-radius: 5px;
  font-size: 1rem;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #00ffee; 
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.5); 
}

input[type="text"]::placeholder {
  color: #aaa; 
}



.delete-btn {
  background-color: #ff4d4d;  
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #e60000;  
}

.theme-delete-container {
  margin-top: 20px;
  text-align: center;
}

