.notification {
  position: fixed;
  z-index: 10;
  right: 8%;
  top: 8%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(0, 0, 0); 
  font-style: italic;
  text-decoration: underline;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
  background-color: rgba(169, 169, 169, 0.8); 
}

.error-message {
  background-color: rgba(105, 105, 105, 0.8); 
}

.success-message {
  background-color: rgba(127, 255, 212, 0.8); 
}
