
.not-found-page {
  text-align: center;
  padding: 30px;
  max-width: 600px;
  width: 100%; 
  border: 1px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5); 
  border-radius: 10px;
  background: #1c1c1c; 
  animation: fadeIn 1.2s ease-in-out;
  margin: 0 auto; 
  margin-top: 100px;
  margin-bottom: 20px;
}


.error-code {
  font-size: 120px;
  font-weight: bold;
  color: aquamarine; 
  text-shadow: 
    0 0 10px aquamarine, 
    0 0 20px aquamarine, 
    0 0 40px aquamarine; 
  margin-bottom: 20px;
}


.error-message {
  font-size: 28px;
  font-weight: bold;
  color: #ccc; 
  margin-bottom: 15px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2); 
}


.error-description {
  font-size: 18px;
  color: #aaa; 
  margin-bottom: 30px;
  line-height: 1.5;
}


.home-button {
  display: inline-block;
  background-color: #2f2f2f; 
  color: aquamarine;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 5px;
  border: 2px solid aquamarine;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
  background-color: aquamarine; 
  color: #1c1c1c; 
  transform: scale(1.1); 
  box-shadow: 
    0 0 10px aquamarine, 
    0 0 20px aquamarine, 
    0 0 30px aquamarine; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
