@if (isLoading) {
<app-loader />
}@else {

<div class="page-container">



  <main class="catalog">
    <h1 class="catalog-title">Our Product Catalog</h1>
    <div class="catalog-grid">



@for (theme of themes; track $index) {
  <div class="catalog-item">

    <p class="likes-count">Likes: {{ theme.likesCount }}</p>


    <h2 class="product-title">{{ theme.themeName }}</h2>


    <p class="product-description">
      {{ theme.created_at | elapsedTime }}
    </p>
    <p class="product-description">
      {{ theme.description }}
    </p>
    <button [routerLink]="theme._id" class="product-button">View Details</button>
  </div>
}

      
      
      

    </div>
  </main>


</div>
}