<aside>
  @if (isLoading) {
    <app-loader />
  } @else {
    <div class="recent-posts-container">
      <h2 class="recent-posts-title">Recent posts</h2>
      <div class="posts-list">
        @for (post of posts; track $index) {
          <div class="post-card">
            <a href="#" class="post-link">
              <h3 class="post-title">{{ post.themeId.themeName }}</h3>
              <p class="post-author">{{ post.userId.username }}</p>
              <p class="post-time">
                <span>{{ post.created_at | elapsedTime }}</span>
              </p>
            </a>
          </div>
        }
      </div>
    </div>
  }
</aside>
