<div class="details-container">
    <h1>Fitness Plan Details</h1>
    
    <div class="exercises-list">
      <div class="exercise-card" *ngFor="let exercise of exercises; let i = index">
        <h2>{{ exercise.name }}</h2>
        <p>{{ exercise.series }}</p>
  
        <div class="button-container">
          <ng-container *ngIf="isOwner; else guestButtons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn" (click)="deleteExercise(i)">Delete</button>
          </ng-container>
          
          <ng-template #guestButtons>
            <button class="like-btn" (click)="likeExercise(exercise.name)">Like</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  